<div layout="row">
    <div flex-offset="5" flex="90" class="nga-default nga-slide-left">
        <md-table-container style="overflow: auto; max-height: 500px;">
            <table flex md-table md-row-select ng-model="$ctrl.selected" md-progress="$ctrl.waitFor">
                <thead fix-head md-order="orderValue" md-head class="noselect">
                <tr md-row>
                    <th md-column ng-repeat="tHeader in $ctrl.tableData.headers" md-order-by="id"><span translate>{{tHeader.title}}</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="field" ng-repeat="field in $ctrl.tableData.field" md-auto-select>
                    <td md-cell ng-repeat="fieldData in field.data">{{fieldData.title}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>
<!--<div layout="row" ng-disabled="!$ctrl.methodics.length" ng-if="filtered.length !== 0">-->
    <!--<md-table-pagination flex="90" flex-offset="5" md-label="{{ctrl.paginationTranslate}}" md-limit="ctrl.tableConfig.query.limit" md-limit-options="ctrl.tableConfig.limitOptions" md-page="ctrl.tableConfig.query.page" md-total="{{ctrl.methodics.length}}" md-page-select="true" md-boundary-links="true"></md-table-pagination>-->
<!--</div>-->
<!--<div layout="row" ng-disabled="!ctrl.methodics.length" ng-if="filtered.length === 0" class="methodics-not-found nga-default nga-slide-left">-->
    <!--<h3 flex="100" translate>По результатам запроса "{{ctrl.search}}" ничего не найдено!</h3>-->
<!--</div>-->