<md-menu md-position-mode="left bottom">
    <md-button ng-click="$mdMenu.open()" class="user-button">
        <div layout-align="space-between center" layout="row">
            <img class="img-round avatar" ng-src="{{$ctrl.model.user.picture}}">
            <span>{{$ctrl.model.user.name}}</span>
        </div>
    </md-button>
    <md-menu-content width="3">
        <md-menu-item class="md-indent">
            <md-button ng-click="">
                <md-icon md-font-set="material-icons menu-icons">account_circle</md-icon>
                <span translate>Мой профиль</span>
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item class="md-indent">
            <md-button >
                <md-icon md-font-set="material-icons menu-icons">exit_to_app</md-icon>
                <span translate>Выход</span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>