<div style="background: 0 0; padding: 0">
    <md-tabs md-dynamic-height>
        <md-tab label="Дашборд">
            <md-content class="md-padding  md-no-scroll">
                <h1 class="md-display-2">Дашборд</h1>
                <p>Lorem ipsum dolor sit amet, cosnsectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
        </md-tab>
        <md-tab label="События">
            <md-content class="md-padding  md-no-scroll">
                <h1 class="md-display-2">События</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
        </md-tab>
    </md-tabs>
</div>