<div class="anim-slide-below absolute-width">
    <md-content class="md-padding md-no-scroll">
        <h1 class="md-headline zero-margin md-padding">Выберите категорию услуг</h1>
        <div class="md-padding" ng-if="!$ctrl.model.categories.length">
            <p>Категории не найдены.</p>
            <md-button class="md-raised zero-margin md-primary md-hue-2 create-category-butt" ui-sref="app.administrator.serviceManager.serviceCategory.new">Создать</md-button>
        </div>
    </md-content>
    <div ng-if="$ctrl.model.categories.length">
        <div layout="row" class="md-padding" layout-wrap>
            <app-service-category-one flex="20" flex-xs="100" flex-sm="100" flex-md="50" flex-lg="20" ng-repeat="category in $ctrl.model.categories" service-category="category" ng-click="$ctrl.actions.showDetails(category)"></app-service-category-one>
        </div>
    </div>
</div>
<md-button ui-sref="app.administrator.serviceManager.serviceCategory.new" class="md-fab md-warn fixed-bottom md-fab-bottom-right" aria-label="New group" style="position: fixed; right: 20px; bottom: 20px;">
    <md-icon  md-font-set="material-icons">playlist_add</md-icon>
</md-button>